#page-my-index {
    .admininfos {
        padding-bottom: 0;

        .breadcrumb-button {
            margin-right: 0 !important;
        }
    }

    .bg-1 {
        background-color: #1e88e5;
    }

    .bg-2 {
        background-color: #7460ee;
    }

    .bg-3 {
        background-color: #26c6da;
    }

    .bg-4 {
        background-color: #2f3d4a;
    }

    .small-box {
        border-radius: $card-border-radius;
        position: relative;
        display: block;
        margin-bottom: 20px;
        padding: 1rem;

        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

        transition: all 0.3s ease-out;

        box-shadow: 
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086)
        ;
    }

    .small-box:hover, .small-box:focus, .small-box:active {
        box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
        z-index: 500;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    .small-box > .inner {
        padding: 10px;
    }

    .small-box h3,
    .small-box p {
        z-index: 5;
        color: #fff;
    }

    .small-box h3 {
        margin: 0 0 10px 0;
        padding: 0;
    }

    .small-box .icon {
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        position: absolute;
        top: 0;
        right: 40px;
        z-index: 0;
        font-size: 48px;
        color: rgba(0, 0, 0, 0.15);
    }

    .progress-chart-container .no-progress {
        background-color: $brand-primary;

        .fa {
            color: #fff;
            font-size: 42px;
            padding: 14px 8px;
        }
    }

    #region-main-box #region-main {
        .card:not([class*="dashboard-card"]) {
            border-top: solid 2px $brand-primary;
        }

        .card.mymaincontent {
            border: none;
            background-color: initial;

            > .card-body {
                padding: 0;
            }
        }

        .block .block-cards .progress {
            margin-left: 0;
        }
    }
}
